@use "sass:map";
@import 'images';
@import 'mixins';

$defaultWidth: 300px;
$fontSizes: ("default": 16px, "date": 50px, "cronologia": 20px, "h3": 24px);
$widths: ("default": $defaultWidth, "large": 600px);
$fontFamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$darkColor: black;
$lightColor: white;
$hoverLinkColor: yellow;

@font-face {
  font-family: "GillSans";
  src: url("fonts/GillSans/Gill\ Sans.otf");
}
body {
  font-family: $fontFamily;
  background-color: $darkColor;
  color: $lightColor;
}

h3 {
	font-size: map.get($fontSizes, "h3");
}

a {
	&.nav-link {
		&:hover {
			color: $hoverLinkColor;
		}
	}
}

span {
	&.imageTitle {
		font-size: 45px;
	}
}

.space {
	margin: 100px 0;
}

.imgGaleria {
	@extend .imgRounded;
	&.firstImage {
		border-radius: 50%;
		width: 50%;
	}
}

$classes: '.index-img', '.trailer', '.imgGaleria';
@each $class in $classes {
	#{$class} {
		@media ( max-width: 900px ) {
			@include widths(map.get($widths, "default"));
		}
	}
} 

.imgGrande {
	@media (min-width: 900px) and (max-width: 1080px) {
		@include widths(map.get($widths, "large"));
	}
}

.dateFont {
	font-size: map.get($fontSizes, "date");
}

.cronologia-font {
	font-size: map.get($fontSizes, "cronologia");
}