@use "sass:map";
@import 'images';
@import 'mixins';

$defaultWidth: 300px;

$widths: ("default": $defaultWidth, "large": 600px);

@font-face {
  font-family: "GillSans";
  src: url("fonts/GillSans/Gill\ Sans.otf");
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
  color: white;
}

a {
	&.nav-link {
		&:hover {
			color: yellow;
		}
	}
}

span {
	&.imageTitle {
		font-size: 45px;
	}
}

.space {
	margin: 100px 0;
}

.imgGaleria {
	@extend .imgRounded;
	&.firstImage {
		border-radius: 50%;
		width: 50%;
	}
}

@media (max-width: 900px) {
	.index-img {
		@include widths(map.get($widths, "default"));
	}

	.trailer {
		@include widths(map.get($widths, "default"));
	}

	.imgGaleria {
		@include widths(map.get($widths, "default"));
	}
}

@media (min-width: 900px) and (max-width: 1080px) {
	.imgGrande {
		@include widths(map.get($widths, "large"));
	}
}