@font-face {
    font-family: "GillSans";
    src: url("fonts/GillSans/Gill\ Sans.otf");
}
* {
    margin:0;
    padding:0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    width: 100%;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    gap: 30px;
}

.tamañoLogo {
    width: 150px;
    display: inline;
}
.centrar {
    text-align: center;
}
ul li {
    margin: 0 20px;
    list-style: none;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.less-margin {
    font-size: 50px;
}
article {
    padding: 30px 0;
}
iframe {
    align-self: center;
}
section {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.trailer, .sinopsis {
    flex-direction: column;
}

.bordes  {
    border: 2px groove white;
    margin-inline: 50px;
    padding: 40px;
}
.winden {
    background-image: url(img/winden.jpg);
    background-position: right center;
    margin-bottom: 20px;
    margin-top: 10px;
}
header nav ul li:hover {
    text-decoration: underline;
    color: yellow;
}
.link {
    text-decoration: none;
    color: inherit;
}
.link:hover {
    text-decoration: underline;
    color: yellow;
}
footer {
    padding-block: 50px;
}
nav {
    display: flex;
}
.parrafoSinopsis {
    padding: 10px;
}
.imageTitle {
    font-size: 30px;
}

/* Estilos Galería */

.galery {
    display: flex;
    flex-direction: column;
}

.galery-space {
    justify-content: space-evenly;
}

.imgGaleria {
    border-radius: 30px;
}

.rotate {
    transform: rotate(270deg);
}

.aligned-center {
    align-self: center;
}

/* Medias queries */

@media (max-width: 320px) { 
}

@media (max-width: 480px) {
}

@media (max-width: 600px) {
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .tamañoLogo {
        align-self: center;
    }

    .logo {
        align-self: center;
    }

    ul {
        margin: 20px 0;
        flex-direction: column;
    }

    .imgGaleria {
        border-radius: 30px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }
}

@media (max-width: 1024px) {

    .index-img {
        height: 600px;
    }

    footer section {
        padding: 0 30px;
    }

    .trailer {
        display: none;
    }
}

@media (max-width: 1200px) {
 
}